.git_update{
    left: auto;
  }
  .git_update{
    left: auto;
  }
  .git_update{
    left: auto;
  }
  .git_update{
    left: auto;
  }
  .git_update{
    left: auto;
  }
  .git_update{
    left: auto;
  }
  .git_update{
    left: auto;
  }
  .git_update{
    left: auto;
  }
  .git_update{
    left: auto;
  }
  .git_update{
    left: auto;
  }